@using survey.Models
@model Survey
<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>

    </head>
    <body>
        <div class="container">
            <h1>Submitted Info</h1>
            @{
                <p>Name: @Model.name</p>
                <p>Dojo Location: @Model.location</p>
                <p>Favorite Language: @Model.language</p>
                <p>Comment @Model.comment</p>
                <p>Time Posted: @Model.date</p>
            }
        </div>
        <form action="/">
        <input type="submit" value="Go Back">
        </form>
    </body>
</html>